.home-container {
    min-height: 100vh;
    width: 100%;
    padding: 60px 48px;
    padding-top: 100px;
    background-color: aliceblue;
}

.form-container {
    display: flex;
    gap: 24px;
    width: 80%;
}

.input {
    font-size: 16px;
    padding: 12px 24px;
    height: 50px;
    border: 2px solid #074173 !important;
    border-radius: 8px;
    width: 56%;
    height: fit-content;
}

.input:focus {
    outline: none !important;
}

.bttn {
    all: unset;
    height: inherit;
    box-shadow:
        0 0 0 2px #00000040 inset,
        0 1px #CDE8E5 inset,
        0 0 0 1px #CDE8E51a,
        0 1px #0741731a;
    text-shadow: 0px 2px 4px #00000026;
    background-color: #074173;
    color: #ffffff;
    cursor: pointer;
    padding: 12px 36px;
    width: fit-content;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.task-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    background: #ffffff;
    width: fit-content;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.form {
    flex-direction: column;
}

button .icon {
    width: 20px;
    height: 20px;
    background-color: transparent !important;
}

.task-name {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    height: fit-content;
}

.action-bttn {
    all: unset !important;
    font-size: 14px !important;
    cursor: pointer !important;
}

.bttn-container {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 550px) {
    .home-container {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-container {
        flex-direction: column;
        width: 100%;
    }

    .task-container {
        width: 100%;
    }

    .input {
        width: 100%;
    }
}

@media screen and (min-width: 551px) and (max-width: 750px) {
    .form-container {
        width: 90%;
    }

    .input {
        width: 400px;
    }
}