@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Playfair+Display&family=Roboto+Condensed&display=swap');

body {
    font-family: "Inter Tight", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}